body .bio-image{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10em;
}
.pjt-des{
	max-width: 35em;
	color: grey;
	font-family: Optima;
}
.pjt-text{
	margin-left: 3em;
}
h2{
	color: grey;
	border-left: solid 2px yellow;
	padding-left: 1em;
	font-family: Optima;
}