p{
	line-height: 2.2em;
}
.container{
	display: flex;
	margin-top: 15em;
	margin-left: 10%;
	margin-right: 10%;
	min-width: 28em;
	align-items: flex-start;
}
#bio{
	max-width: 30em;
   padding-left: 2em;
}
#interest{
	padding-left: 2em;
}
#container-bio{
	justify-content: center;
}
/*Project des at the left column*/
.des{
	max-width: 30em;
	padding-right: 2em;
}
/*Project detail des at the right column*/
.pjt-des{
	max-width: 50em;
}
.img img{
	width: 40em;
}
h1#employ-heading{
	width: 100%;
	text-align: left;
}
img.pjt-tittle-pic{
	margin-top: 6.2em;
}
.img img{
	border: double red 3px;
	padding: 3px;
}
.icon-cherry{
	justify-content: center;
}
#container3{
	justify-content:  center;
}
h2{
	color: grey;
	border-left: solid 2px red;
	padding-left: 1em;
	font-family: Optima;
}

h1{
	color: red;
	font-size: 2.5em;
	font-family: Optima;
	min-width: 10em;
	border-top: solid 2px red;
	
}
#bio-slogan div p{
	color: red;
	font-size: 3.5em;
}
#bio-slogan div{
	max-width: 70em;
}
#bio-slogan{
	display: flex;
	justify-content: center;
	padding-top: 10em;
	padding-bottom: 20em;
}
#container3{
	align-items: center;
}
/*Contact me section*/

h1#contact-heading{
	max-width: 40em;
}
.contact-row{
	display: flex;
	justify-content: flex-start;
	min-width: 22em;
	flex-wrap: wrap;
	padding-right: 1.5em;
	padding-top: 3em;

}
@media(max-width: 49.5em){
	.container{
		flex-direction:column;
	}
}
#contact-us-input{
	max-width: 60em;
	margin-top: 1em;
	padding: 1em;
	min-width: 30em;
}
#send-button{
	text-align: right;
	padding-right: 1em;
}
#send-button button{
	font-size: 1.2em;
	font-family: Optima;
	color: white;
	background: grey;
}
#send-button button:hover{
	transition: background-color 2s;
	background-color: red;
}
span{
	color: red;
}


/*Responsive attributes at breakpoint 70em*/
@media(max-width: 70em){
	#bio-slogan div p{
		font-size: 1.5em;
		max-width: 20em;
	}
	.container{
		flex-direction: column;
		align-items: center;
		min-width: 30em;
	}
	.pjt-des{
		min-width: 30em;
		margin-bottom: 5em;
	}

	.img{
		text-align: center;
	}
	.pjt-content{

	}
	.des{
		margin-bottom: 5em;
		min-width: 35em;
		max-width: 80em;
	}
	.des h1{
		text-align: center;
	}
	body{
		min-width: 40em;
	}
	h1#contact-heading{
		text-align: center;
	}
	#send-button{
		text-align: center;
	}
	h1#employ-heading{
		text-align: center;
	}
	h1#contact-heading{
	width: 100%;
	max-width: 80em;
	}
	img.pjt-tittle-pic{
		margin-top: 0;
	}
}