
#main-nav div a, #main-nav2 div a{
	color: grey;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	border-right: 2px red solid;
	font-family: Optima;
}
#main-nav div, #main-nav2 div{
	min-width: 35em;
	text-align: center;
}
#main-nav div a:hover{
	color: red;
	transition: color 2s;
}
#main-nav2 div a:hover{
	color: red;
	transition: color 2s;
}
#main-nav, #main-nav2{
	text-align: center;
}
#main-nav{
	position: sticky;
	position: -webkit-sticky; 
	top: 0;
	height: 50px;
	border-bottom: 2px double red;
	background-color: rgba(255,255,255,0.9);
	padding-top: 25px;
}

#main-nav2{
	margin-top: 5em;
}
.css_selector{
	color: grey;
}
.element h5,h4,code{
	color: grey;
}
.element{
	max-width: 65em;
	margin-left:15%;
	margin-right: 15%; 
}
.element h3{
	color: red;
}
#bio,p{
	color: grey;
	border-radius: 13em;
	font-family: Optima;
	line-height: 2.2em;
}
#bio a:hover{
	background-color: grey;
	transition: color 2s;
}
#bio a{
	color: red;
}
.pjt-des a:hover{
	color: red;
	transition: color 2s;
}
.button-nav{
	background-color: grey; 
	padding: 0.5em;
	text-decoration: none;
	color: white;
}
.button-nav:hover{
	background-color: red;
}
#style-button{
	font-family: Optima;
	font-size: 1.2em;
	transition: background-color 2s;
}

footer a{
    color: grey;
}

footer a:hover{
    color: red;
}
footer{
	text-align: center;
	padding-top: 5em;
	padding-bottom: 5em;
}
#levels-heading h1{
	color: red;
	border-top: solid red 2px;
	font-size: 2.5em;
	width: 10em;
}
#levels-heading h2{
	color: grey;
	font-size: 2em;
	border-left: red 2px solid;
	padding-left: 1em;
}
h1#styleguide-heading{
	text-align: center;
	color: red;
}
@media(max-width: 70em){
	h1{
		text-align: center;
	}
}

