#styleguide-body{
	background-color: black;
}
body{
	background-color: black;
}
#main-nav div a{
	color: grey;
	text-decoration: none;
	padding-left: 5em;
	padding-right: 2em;
	border-right: 2px blue solid;
	font-family: Optima;
}
#main-nav div a:hover{
	color: blue;
}
#main-nav{
	text-align: center;
}
.css_selector{
	color: grey;
}
.element h5,h4,code{
	color: grey;
}
.element{
	max-width: 65em;
	margin-left:15%;
	margin-right: 15%; 
}
.element h3{
	color: yellow;
}
#bio{
	color: grey;
	border-radius: 13em;
	font-family: Optima;
}
#bio a:hover{
	color: yellow;
}
.pjt-des a:hover{
	color: yellow;
}
.button-nav{
	background-color: yellow; 
	padding: 0.5em;
	text-decoration: none;
	color: grey;
}
.button-nav:hover{
	background-color: blue;
}

footer a{
    color: grey;
}

footer a:hover{
    color: yellow;
}
footer{
	text-align: center;
	padding-top: 5em;
	padding-bottom: 5em;
}
#levels-heading h1{
	color: blue;
	font-size: 2.5em;
}
#levels-heading h2{
	color: grey;
	font-size: 2em;
}
h1{
	color: blue;
	font-size: 2.5em;
	padding-top: 2em;
	padding-left: 2em;
}