
#main-nav div a{
	color: grey;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	border-right: 2px red solid;
	font-family: Optima;
}
#main-nav div{
	min-width: 35em;
	text-align: center;
}
#main-nav div a:hover{
	color: red;
}
#main-nav{
	text-align: center;
}
.css_selector{
	color: grey;
}
.element h5,h4,code{
	color: grey;
}
.element{
	max-width: 65em;
	margin-left:15%;
	margin-right: 15%; 
}
.element h3{
	color: red;
}
#bio,p{
	color: grey;
	border-radius: 13em;
	font-family: Optima;
	line-height: 2.2em;
}
#bio a:hover{
	color: red;
}
#bio a{
	color: grey;
}
.pjt-des a:hover{
	color: red;
}
.button-nav{
	background-color: grey; 
	padding: 0.5em;
	text-decoration: none;
	color: white;
}
.button-nav:hover{
	background-color: red;
}

footer a{
    color: grey;
}

footer a:hover{
    color: red;
}
footer{
	text-align: center;
	padding-top: 5em;
	padding-bottom: 5em;
}
#levels-heading h1{
	color: red;
	border-top: solid red 2px;
	font-size: 2.5em;
	width: 10em;
}
#levels-heading h2{
	color: grey;
	font-size: 2em;
	border-left: red 2px solid;
	padding-left: 1em;
}
h1#styleguide-heading{
	text-align: center;
	color: red;
}

